body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.mr-10 {
  margin-right: 10px;
}

form div {
  display: flex;
  align-items: center;
  margin: 10px 0;
  label {
    width: 120px;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    flex: 1;
    padding: 5px 8px;
  }
  input[type="submit"] {
    padding: 5px 8px;
    &:hover {
      border: 2px solid black;
    }
  }
}
